.sidebar {
	flex: 0.33;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #f5f5f5;
	border-right: 1px solid lightgray;
	overflow: scroll;
}

.sidebar__header {
	display: flex;
	align-items: center;
	padding: 10px;
	height: 50px;
}

.sidebar__header > h4 {
	position: relative;
	top: -4px;
	font-weight: 400;
	padding-right: 20px;
	font-size: 20px;
}

.sidebar__header > .sidebar__signOut {
	background-color: #e9e9e9;
	margin-right: 30px;
	margin-left: 10px;
}

.sidebar__header > .sidebar__signOut:hover {
	background-color: #c7c7c7;
}

.sidebar__avatar {
	cursor: pointer;
	margin: 10px;
}

.sidebar__input {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	background-color: #e1e1e1;
	color: gray;
	border-radius: 10px;
}

.sidebar__input > input {
	border: none;
	background: transparent;
	outline-width: 0;
}

/* Hides for Chrome, Safari and opera */
.sidebar::-webkit-scrollbar {
	display: none;
}

.sidebar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
